*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: aliceblue;
}
a{
    text-decoration: none;
    color:white;
}
li{
    list-style: none;
}
.container{
    max-width: 1350;
    margin:auto;
}
.navbar{
    padding:8px;
    background-color: black;
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index:5;
}
.navbar ul{
      background-color: black;
      display: flex;
      justify-content: space-between;
}
ul li{
    width:100%;
    margin:5px 5px;
    padding: 10px;
    text-align: center;
    font-weight: 200;
    cursor: pointer;
}
li:hover{
    background-color: orange;
}
.main{
    height:100vh;
    background-image: url(images/main.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items:center;
    justify-content:center;
    position: relative;
}
.main div p{
    font-size: 70px;
    color:rgb(255, 255, 255)
}
.time-div{
    position:absolute;
    bottom:40px;
    left:30px;
    background-color: white;
    padding:8px 8px;
}
.about,.menu,.Where{
     width:80%;
     margin: 60px auto;
     font-size: 18px;
}
.heading{
    background-color: black;
    color:white;
    text-align: center;
    font-weight: bold;
    margin:35px 0;
    padding:10px 0;
}
.about-para{
    margin:20px 0;
    word-spacing: 5px;
    line-height:1.5;
    color:#343434;
}
.about-owner{
    background-color:#ffffff;
    padding:20px 22px;
    margin:20px 0;
    word-spacing: 5px;
    line-height:1.5;
    border: 8px solid rgb(196, 196, 196);
}
.about-img img{
    width: 100%;
    opacity:2.1;
}
.timing{
    margin: 20px 0;
    line-height:3 ;
    font-weight:300;
}
.timing span {
    font-weight: bold;
  }
  .menu-items {
    margin: 30px 0;
    padding: 20px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.4);
  }
  
  .item {
    margin: 20px;
    padding: 10px;
  }
  
  .item h3 {
    font-weight: bold;
  }
  
  .item p {
    margin: 10px 0;
    color: #5f5e5e;
  }
  
  .menu img {
    width: 100%;
  }